body 
{       background-image: url("vista.jpg");
        background-position: unset;
        background-repeat: no-repeat;
        background-size: 100%;

}

.testando {
    display: flex;
    flex-direction: row;
    align-content: center;

}



 /* Seletores de ID*/

 /* Seletores de Classe*/